In [1]:
# Dependencies
import pandas as pd
import numpy as np
import yfinance as yf
import plotly.graph_objs as go

In [2]:
# Create lists of securities in portfolio
pfolio_etfs = ['SPY', 'DSTL', 'VNQ', 'PAVE', 'QQQ', 'VOO', 'ARKK']
pfolio_stocks = ['UPST', 'CRWD', 'DXLG', 'DOCN', 'ASAN', 'TWTR', 'AAPL', 'AI', 'PLTR', 'F', 'CFLT', 'TSLA']

In [9]:
# function to create dataframes with each etf ticker
def etfs_to_df():
    etf_list = list()
    for ticker in pfolio_etfs:
        data = yf.download(ticker, group_by="Ticker", period='1d')
        data['ticker'] = ticker
        etf_list.append(data)

    etf_df = pd.concat(etf_list)
    return etf_df

In [10]:
# Test
etfs_to_df()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-03-03,440.470001,441.109985,433.853485,438.829987,438.829987,59952008,SPY
2022-03-03,44.410000,44.604900,44.094002,44.490002,44.490002,29691,DSTL
2022-03-03,104.489998,104.870003,103.490601,104.794998,104.794998,3104927,VNQ
2022-03-03,27.309999,27.457100,26.969999,27.355000,27.355000,620852,PAVE
2022-03-03,349.929993,350.026489,342.471008,346.005005,346.005005,43092698,QQQ
2022-03-03,405.019989,405.540009,399.320007,403.475586,403.475586,5390319,VOO
2022-03-03,68.021301,68.032501,63.720001,64.669998,64.669998,16097353,ARKK

In [11]:
# function to create dataframes with each stock ticker
def stocks_to_df():
    stock_list = list()
    for ticker in pfolio_stocks:
        data = yf.download(ticker, group_by="Ticker", period='1d')
        data['ticker'] = ticker
        stock_list.append(data)

    stocks_df = pd.concat(stock_list)
    return stocks_df

In [12]:
stocks_to_df()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-03-03,148.690002,156.759995,143.610901,150.824997,150.824997,6820280,UPST
2022-03-03,200.000000,204.800003,190.533798,194.164993,194.164993,2967136,CRWD
2022-03-03,4.260000,4.340000,4.110000,4.310000,4.310000,160723,DXLG
2022-03-03,63.230000,63.889999,58.950901,60.770000,60.770000,1173174,DOCN
2022-03-03,52.340000,53.459999,47.700001,49.436401,49.436401,2281279,ASAN
2022-03-03,34.900002,35.169998,33.735001,34.169998,34.169998,8520217,TWTR
2022-03-03,168.470001,168.910004,165.899994,167.740005,167.740005,44500156,AAPL
2022-03-03,25.340000,26.469999,22.670000,23.780001,23.780001,9867839,AI
2022-03-03,12.010000,12.055000,11.365000,11.485000,11.485000,27559699,PLTR
2022-03-03,18.250000,18.250000,17.469999,17.807199,17.807199,62489791,F
2022-03-03,43.340000,43.650002,38.213200,38.970001,38.970001,2717549,CFLT
2022-03-03,878.770020,886.439026,850.260010,859.360107,859.360107,12369103,TSLA