In [79]:
# Dependencies
import pandas as pd
import numpy as np
import yfinance as yf
import plotly.graph_objs as go

In [87]:
# Create lists of securities in portfolio
pfolio_etfs = ['SPY', 'DSTL', 'VNQ', 'PAVE', 'QQQ', 'VOO', 'ARKK']
pfolio_stocks = ['UPST', 'CRWD', 'DXLG', 'DOCN', 'ASAN', 'TWTR', 'AAPL', 'AI', 'PLTR', 'F', 'CFLT', 'TSLA']

In [97]:
# function to create dataframes with each ticker
def etfs_to_df():
    etf_list = list()
    for ticker in pfolio_etfs:
        data = yf.download(ticker, group_by="Ticker", period='1d')
        data['ticker'] = ticker
        etf_list.append(data)

    etf_df = pd.concat(df_list)
    return etf_df

In [98]:
etf_df

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-02-24,411.019989,428.760010,410.640991,428.299988,428.299988,209634022,SPY
2022-02-24,42.000000,43.070000,41.790001,42.950001,42.950001,307071,DSTL
2022-02-24,98.010002,101.959099,97.720001,101.639999,101.639999,9445738,VNQ
2022-02-24,24.930000,25.955000,24.810200,25.910000,25.910000,4689213,PAVE
2022-02-24,318.839996,341.040009,318.429993,340.489990,340.489990,129447304,QQQ
2022-02-24,377.760010,394.170013,377.500000,393.769989,393.769989,21138085,VOO
2022-02-24,57.549999,65.949997,57.500000,65.620003,65.620003,37708855,ARKK
2022-02-24,411.019989,428.760010,410.640991,428.299988,428.299988,209634022,SPY
2022-02-24,42.000000,43.070000,41.790001,42.950001,42.950001,307071,DSTL
2022-02-24,98.010002,101.959099,97.720001,101.639999,101.639999,9445738,VNQ
2022-02-24,24.930000,25.955000,24.810200,25.910000,25.910000,4689213,PAVE
2022-02-24,318.839996,341.040009,318.429993,340.489990,340.489990,129447304,QQQ
2022-02-24,377.760010,394.170013,377.500000,393.769989,393.769989,21138085,VOO
2022-02-24,57.549999,65.949997,57.500000,65.620003,65.620003,37708855,ARKK